body {
    color:deeppink;
    font-style:italic;
    background-color: lightgrey;

}
h1 {
    background-color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    text-decoration-line: underline;
    border: dotted;
    border-color: rgb(102, 20, 20);
}
p {
    font-style: normal;
    font-size: larger;
}



